.alert-success {
    background-color: #4caf50;
    color:white;
}
.alert-info {
    background-color: #03a9f4;
    color:white;
}
.alert-warning {
    background-color: #ff5722;
    color:white;
}
.alert-danger {
    background-color: #f44336;
    color:white;
}