.btn {
    border: none;
    border-radius: .1em;
    background-color: rgba(0,0,0,0);
}
.btn:hover {
    background-color: #e7e7e7;
}
//normal btn
.btn-primary, .btn-primary:hover {
    color: #009688;
}
.btn-success, .btn-success:hover {
    color:#4caf50;
}
.btn-info, .btn-info:hover {
    color:#03a9f4;
}
.btn-warning, .btn-warning:hover {
    color:#ff5722;
}
.btn-danger, .btn-danger:hover {
    color:#f44336;
}
.btn-secondary, .btn-secondary:hover {
    color: #333333;
}
//outline btn
.btn-outline-primary, .btn-outline-primary:hover {
    color: #009688;
    border: 1px solid #009688;
}
.btn-outline-success, .btn-outline-success:hover {
    color: #4caf50;
    border: 1px solid ;
}
.btn-outline-info, .btn-outline-info:hover {
    color: #03a9f4;
    border: 1px solid ;
}
.btn-outline-warning, .btn-outline-warning:hover {
    color: #ff5722;
    border: 1px solid ;
}
.btn-outline-danger, .btn-outline-danger:hover {
    color: #f44336;
    border: 1px solid ;
}
.btn-outline-secondary, .btn-outline-secondary:hover {
    color: #333333;
    border: 1px solid ;
}